{% extends "form.html" %}
{% load socialaccount %}
{% block form %}
	<div class="form-box">
		{% include "includes/messages.html" %}
		<div class="form-content">
			<h2>¡Bienvenido!</h2>
			<form action="{% url 'users:signin' %}" id="form" class="form" method="post">
				{% csrf_token %}
				<div class="input-field">
					<label for="username">Nombre de usuario, correo</label>
					<input type="text" name="username" id="username">
				</div>				
				<div class="input-field">
					<label for="password">Contraseña</label>
					<input type="password" name="password" id="password">
				</div>		
				<div class="input-field my-2">
					<label for="captcha">Captcha</label>
					{{form.captcha}}
				</div>	
				<button type="submit">Iniciar Sesión</button>
				<button>
					<a href="{% provider_login_url 'google' %}">
						<i class='bx bxl-google'></i>
						Cuenta de google
					</a>
				</button>
			</form>
			<div class="bottom-link">
				<p>
					¿No tienes una cuenta?
					<a href="{% url 'users:signup' %}" id="signup-link">
						Registrate
					</a>
				</p>		
			</div>
		</div>
	</div>
{% endblock %}

