{% extends "form.html" %}
{% block form %}
	<div class="form-box signup">
		{% include "includes/messages.html" %}
		<div class="form-content">
			<h2>REGISTRATE</h2>
			<form action="{% url 'users:signup' %}" id="form" class="form" method="post">
				{% csrf_token %}
				<div class="input-field">
					<label for="username">Nombre de usuario</label>
					<input type="text" name="username" id="username" >
				</div>
				<div class="input-field">
					<label for="id_email">Email</label>
					<input type="email" name="email" maxlength="320" required="" id="id_email">
				</div>			
				<div class="input-field">
					<label for="id_password1">Contraseña</label>
					<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
				</div>
				<div class="input-field">
					<label for="id_password2">Confirmar contraseña</label>
					<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
				</div>
				<button type="submit">Registrarme</button>
			</form>
			<div class="bottom-link">
				<p>
					¿Ya tienes una cuenta?
					<a href="{% url 'users:signin' %}" id="login-link">
						Iniciar Sesión
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}